<div class="user-details">
        <h1 align="center" style='font-family:Ebrima ; color:#155289 ; '> <i>  <u> Who we are </u>  </i> </h1>
</div>
<div class="warning" style='background-color:##FFFFFF; color: #000000; border: solid #155289 4px; border-radius: 4px; padding:0.7em;'> 
<div class="user-projects">
     <div class="images-right">
    <img align="right" width="350" height="350" src="{{ "/assets/img/logo-transparent background.png" | prepend: site.baseurl }}" />
 </div>
      <div class="contents-left">
    <h4 align="left" style='font-family:Georgia'> We are a nomadic group of economically accessible pharmacology consultants using the synaptic priming framework to improve clinical care for psychiatric disorders.  </h4>

   </div>
  </div>

</div>

<br>

 <!DOCTYPE html>
    <html>
        <body>
        <ol>
        </ol>
        <br>
        <hr style="width: 100%"/>
       </body>
    </html>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Our portfolio</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
              <a href="https://doi.org/10.1038/s41380-023-02397-1">
                <source media="(max-width: 600px)" srcset="/assets/img/kb mol psych.png">
                <source media="(min-width: 601px)" srcset="/assets/img/kb mol psych.png">
                <img loading="lazy" decoding="async" src="/assets/img/kb mol psych.png" alt="gallery" width="350" height="250">
                </a>
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <a href="https://doi.org/10.1038/s41386-025-02085-4">
                <source media="(max-width: 600px)" srcset="/assets/img/kb npp.png">
                <source media="(min-width: 601px)" srcset="/assets/img/kb npp.png">
                <img loading="lazy" decoding="async" src="/assets/img/kb npp.png" alt="gallery" width="272" height="320">
                </a>
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <a  href="https://doi.org/10.1523/JNEUROSCI.1316-22.2022">
                <source media="(max-width: 600px)" srcset="/assets/img/zanos kb j neuro.png">
                <source media="(min-width: 601px)" srcset="/assets/img/zanos kb j neuro.png">
                <img loading="lazy" decoding="async" src="/assets/img/zanos kb j neuro.png" alt="gallery" width="272" height="320">
             </a>
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <a href="https://doi.org/10.1038/s41386-023-01675-4 ">
                <source media="(max-width: 600px)" srcset="/assets/img/kb npp bzt.png">
                <source media="(min-width: 601px)" srcset="/assets/img/kb npp bzt.png">
                <img loading="lazy" decoding="async" src="/assets/img/kb npp bzt.png" alt="gallery" width="272" height="320">
             </a>
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <a href="https://doi.org/10.1152/jn.00353.2024">    
                <source media="(max-width: 600px)" srcset="/assets/img/kb jnp.png">
                <source media="(min-width: 601px)" srcset="/assets/img/kb jnp.png">
                <img loading="lazy" decoding="async" src="/assets/img/kb jnp.png" alt="gallery" width="272" height="320">
             </a>
            </picture>
                <!--Picture 6-->
            <picture class="cs-image">
                    <a href="https://doi.org/10.1016/j.neuropharm.2019.02.033">
                <source media="(max-width: 600px)" srcset="/assets/img/cjp kb np.png">
                <source media="(min-width: 601px)" srcset="/assets/img/cjp kb np.png">
                <img loading="lazy" decoding="async" src="/assets/img/cjp kb np.png" alt="gallery" width="272" height="320">
             </a>
            </picture>
        </div>
    </div>
</section>
                                
