<div class="user-details">
  <h1 align="center" style='color:#155289 ;'> <i> <u> Who we are </u> </i> </h1>
</div>

<div class="warning" style='background-color:#EEF4FB; color: #000000; border: solid #155289 4px; border-radius: 4px; padding:0.7em;'> 

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Antidepressant priming1.png" | prepend: site.baseurl }}" />
</div>
    <div class="contents-right">
      <h2> <u> Primer plasticity </u> </h2>
    <h6 style='font-family:Georgia'> 
     <i>
      <ul>
  <li>Harnessing electrophysiology and behavioral tools to reveal druggable plasticity mechanisms</li>
  <li>Advancing pharmacological, neuromodulatory, and other treatments for psychiatric disorders </li>
  <li>Translating preclinical results to develop clinical bench-to-bedside projects</li>
    </ul>  
    </i> 
    </h6>
  </div>
</div>

</div>

<br>

 <!DOCTYPE html>
    <html>
        <body>
        <ol>
        </ol>
        <br>
        <hr style="width: 100%"/>
       </body>
    </html>

<div class="user-projects">
  <div class="images">
     <p align="center">
    <a align="center" href="https://doi.org/10.1038/s41380-023-02397-1">
    <img width="450" height="450" src= "/assets/img/kb mol psych.png" />
    </a>
    </div>
</div>

 <!DOCTYPE html>
    <html>
        <body>
        <ol>
        </ol>
        <br>
        <hr style="width: 100%"/>
       </body>
    </html>

<div class="user-projects">
  <div class="images">
     <p align="center">
    <a align="center" href="https://doi.org/10.1523/JNEUROSCI.1316-22.2022">
    <img width="450" height="450" src="/assets/img/zanos kb j neuro.png"  />
    </a>
    </div>

 <!DOCTYPE html>
    <html>
        <body>
        <ol>
        </ol>
        <br>
        <hr style="width: 100%"/>
       </body>
    </html>
  
</div>
<div class="user-projects">
  <div class="images">
     <p align="center">
    <a align="center" href="https://doi.org/10.1038/s41386-025-02085-4">
    <img width="450" height="450" src= "/assets/img/kb npp.png" />
    </a>
    </div>
</div>
