<footer class="footer">
 <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="mailto: synaptic.priming@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Whatsapp" target="_blank" href="https://wa.me/16785427932"><i class="icon fa fa-whatsapp" ></i></a>
     </div>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
