<div id="particles-js">
  <div class="header">
      <h1 style='font-family:Ebrima ;'>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">

        <a aria-label="Send email" target="_blank" href="mailto: synaptic.priming@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://scholar.google.com/citations?user=azKfXbsAAAAJ&hl=en&oi=ao"><i class="icon fa fa-google-plus" ></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/synaptic.nomad?igsh=aHl5ZjV6N2c4MGxt"><i class="icon fa fa-instagram" ></i></a>
        <a aria-label="My LinkedIn Profile" target="_blank" href="https://www.linkedin.com/in/kyleabrown/"><i class="icon fa fa-linkedin" ></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://x.com/SynapticPriming"><i class="icon fa fa-twitter" ></i></a>
        <a aria-label="My Whatsapp" target="_blank" href="https://wa.me/16785427932"><i class="icon fa fa-whatsapp" ></i></a>
      </div>
    
      <div class="header-links">
        <a style='font-family:Ebrima ; font-size:5vw; ' class="link" href="#about" data-scroll> <u>Who we are </u> <i class="icon fa fa-arrow-circle-o-down" ></i> </a> 
        <a style='font-family:Ebrima ; font-size:5vw; ' class="link" href="#projects" data-scroll> <u>What we do </u> <i class="icon fa fa-arrow-circle-o-down" ></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll> <i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
