<div class="user-details">
  <h1> Current Projects </h1>
</div>
    <h3 align="left"> Primer pharmacology </h3>
    <p align="left"> Advancing antidepressant dosing models designed to accelerate the onset of symptom relief, enhance antidepressant effects, and prolong symptom remission.</p>
    <img align="right" src="{{ "/assets/img/Clinical KET timeline.png" | prepend: site.baseurl }}" />
</div>
<div class="user-projects">
    <div class="contents-right">
    <h3> Primer plasticity </h3>
    <p>Using translational and clinical tools to delineate plasticity mechanisms that can be targeted in psychiatric drug development.</p>
     </div>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Antidepressant priming1.png" | prepend: site.baseurl }}" />
  </div>
</div>
  <div class="user-projects">
      <div class="contents">
      <p align="left">
    <h3> Priming the next generation </h3>
    <p>Providing hands-on training for the future leaders of neuropsychopharmacology.</p>
      </p>
  </div>
   <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/KB-Research Associate_36-1.jpg" | prepend: site.baseurl }}" />
  </div>
</div>
<div class="user-projects">
  <div class="contents-center">
    <p align="center"><a href="mailto: synaptic.priming@gmail.com"> Contact me now for a free consultation </a></p>
</div>
<div class="user-projects">
  <div class="images">
    <p align="center">
    <img alt="mountains" src="{{ "/assets/img/Headshot1.jpg" | prepend: site.baseurl }}" />
      </p>
     </div>
  </div>
  <div class="contents-center">
    <p align="center"> Kyle A. Brown, PhD </p> 
    <p align="center"> Research Faculty, University of Maryland School of Medicine, Baltimore, USA</p>
    <p align="center"> Director, Primer Consulting </p>
  </div>
</div>
