<div class="user-details">
  <h1> Current Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Clinical KET timeline.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Primer pharmacology </h3>
    <p>Advancing antidepressant dosing models designed to accelerate the onset of symptom relief, enhance antidepressant effects, and prolong symptom relief.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Antidepressant priming1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Primer plasticity </h3>
    <p>Using translational and clinical tools to delineate plasticity mechanisms that can be targeted in antidepressant development.</p>
     </div>
  </div>
  <div class="user-projects">
   <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/KB-Research Associate_36.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Priming the next generation </h3>
    <p>Providing hands-on training for the future leaders of neuropsychopharmacology.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-center">
    <img alt="mountains" src="{{ "/assets/img/Headshot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-center">
    <a href="mailto: synaptic.priming@gmail.com"> Contact me now </a>
     </div>
  </div>
